/*
	Tirando bordas das classes de divs
*/
.tirarBordas{
	background-color: #fff;
	color: #fff;
	text-shadow: 0 1px 0 #f3f3f3;
	box-shadow: none;
}

.radioPessoaFisicaJuridica{
	box-shadow: none;
	float:right;
}